@{
    ViewBag.Title = "Welcome Letter";
}
@Html.Partial("_ResultMessage")

<section class="content-header">
    <h1>
        Welcome Letter
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Letter</a></li>
        <li class="active">Welcome Letter</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <div class="box-body col-md-12">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1"> Select Member</label>
                        @Html.DropDownList("Members", (IEnumerable<SelectListItem>)ViewBag.MemberLookUp, "",
                                new { @class = "form-control chosen col-md-6" })

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#CustomerId").on('change', function (evt, params) {
        var path = '@Url.Action("GetCustomerDataById", "Order", new { id = "" })' + '?id=' + $(this).val();
        $.getJSON(path, function (data) {

        });
    });
</script>